@using ishangoWeb.Components
@using ClassLibraryIshangoBar.Evenements
@model IEnumerable<ClassLibraryIshangoBar.Evenements.EvenementModel>

@{
    ViewData["Title"] = "Index";
}


<!--================Slider Area =================-->

<section class="slider_area">
    <div class=slider_inner>
        <div class="rev_slider fullwidthabanner" data-version="5.3.0.2" id="home-slider">
            <ul>
                <li data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="600" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    @* <img src="~/lib/bootstrap/dist/img/home-slider/slide3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>*@
                    <img src="~/lib/bootstrap/dist/img/home-slider/slide3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- home-slider/slider-1.jpg -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box">
                        <div class="tp-caption bg_box"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-x="center"
                             data-y="['350','350','300','250','0']"
                             data-fontsize="['55']"
                             data-lineheight="['60']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">
                        </div>
                        <div class="tp-caption first_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['-20']"
                             data-Hoffset="['0']"
                             data-fontsize="['42','42','42','42','25']"
                             data-lineheight="['52','52','52','52','35']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Bienvenu chez nous
                        </div>
                        <div class="tp-caption secand_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['45']"
                             data-Hoffset="['0']"
                             data-fontsize="['36']"
                             data-lineheight="['42']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Ishango restaurant
                        </div>
                        <div class="tp-caption third_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['100']"
                             data-Hoffset="['0']"
                             data-fontsize="['24','24','24','24','16']"
                             data-lineheight="['34','34','34','34','26']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1200"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            LE MEILLEUR RESTAURANT DU MOMENT
                        </div>
                        <div class="tp-caption btn_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['180']"
                             data-Hoffset="['0']"
                             data-fontsize="['16.75']"
                             data-lineheight="['26']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1200"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            <a class="submit_btn_bg" href="#">Whaouu!!!</a>
                        </div>
                    </div>
                </li>
                <li data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="600" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/lib/bootstrap/dist/img/home-slider/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- home-slider/slider-2.jpg -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box text_box2">
                        <div class="tp-caption bg_box"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-x="center"
                             data-y="['350','350','300','250']"
                             data-fontsize="['55']"
                             data-lineheight="['60']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">
                        </div>
                        <div class="tp-caption first_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['-20']"
                             data-Hoffset="['0']"
                             data-fontsize="['42','42','42','42','25']"
                             data-lineheight="['52','52','52','52','35']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Bienvenus chez nous
                        </div>
                        <div class="tp-caption secand_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['45']"
                             data-Hoffset="['0']"
                             data-fontsize="['36']"
                             data-lineheight="['42']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Ishango
                        </div>
                        <div class="tp-caption third_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['100']"
                             data-Hoffset="['0']"
                             data-fontsize="['24','24','24','24','16']"
                             data-lineheight="['34','34','34','34','26']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1200"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            LE MEILLEUR RESTAURANT DU MOMENT
                        </div>
                        <div class="tp-caption btn_text"
                             data-x="center"
                             data-y="center"
                             data-voffset="['180']"
                             data-Hoffset="['0']"
                             data-fontsize="['16.75']"
                             data-lineheight="['26']"
                             data-width="none"
                             data-height="none"
                             data-transform_idle="o:1;"
                             data-whitespace="nowrap"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1200"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            <a class="submit_btn_bg" href="#">Whaouu!!!</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</section>
<!--================End Slider Area =================-->
<!--================Service Area =================-->
<section class="service_area">
    <div class="container">
        <div class="s_black_title">
            <h3>Ce que la maison prevoit aux</h3>
            <h2>CLIENTS</h2>
        </div>
        <div class="row" id="row_service_area">
            <div class="col-md-3 col-sm-6">
                <div class="service_item">
                    <img src="~/lib/bootstrap/dist/img/service-icon/service-1.png" alt="">
                    <h3>Pizzas</h3>
                    <p>Ishango vous prépare et vous offre les pizzas d'un gout éxtraordinaire et cela à un prix abordable par tout le monde, sans distinction de race.</p>
                    <a class="read_mor_btn" href="menu-grid.html">Lire plus</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service_item">
                    <img src="~/lib/bootstrap/dist/img/service-icon/service-2.png" alt="">
                    <h3>Café</h3>
                    <p>Ishango est une maison de qualité, cela fait qu'elle utilise des produits de qualité. Elle vous offre un café de qualité au bon prix </p>
                    <a class="read_mor_btn" href="menu-grid.html">Lire plus</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service_item">
                    <img src="~/lib/bootstrap/dist/img/service-icon/service-3.png" alt="">
                    <h3>Repas</h3>
                    <p>La maison Ishango met à votre disposition toute sorte de répas, son grand soucis est satisfaire tous ses clients.</p>
                    <a class="read_mor_btn" href="menu-grid.html">Lire plus</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service_item">
                    <img src="~/lib/bootstrap/dist/img/service-icon/service-4.png" alt="">
                    <h3>Boissons</h3>
                    <p>Ishango a à son sein toutes les marques de boissons que vous connaissez, toutes vos commandes de boissons seront servies sans soucis</p>
                    <a class="read_mor_btn" href="menu-grid.html">Lire plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Service Area =================-->
<!--================Our Chefs Area =================-->
<section class="our_chefs_area">
    <div class="container">
        <div class="s_black_title">
            <h3>Rancontrer</h3>
            <h2>NOTRE EQUIPE</h2>
        </div>
        <div class="chefs_slider_active">
            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Leon_chef.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Leonard Maliona</h4></a>
                            <h5>Owner</h5>
                            <p>Leonard Maliona, un grand entrepreneur de la ville de Beni, il est le patron et DG de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Leonard Maliona</h3>
                            <h4>Owner</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Guy_Robert.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Guy Robert</h4></a>
                            <h5>Gérant</h5>
                            <p>Guy Robert, il est celui qui gère et surveille tout chez Ishango GuestHouse.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Guy Robert</h3>
                            <h4>Gérant</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/benjamin_Bisokodide.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Bisokodide Batchonou</h4></a>
                            <h5>Comptoiriste</h5>
                            <p>Il est le chef du comptoire chez Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Bisokodide  Benjamin</h3>
                            <h4>Comptoiriste</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Deborah_Kamata.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Deborah Kamate</h4></a>
                            <h5>Financière</h5>
                            <p>Maman Deborah Kamate est celle qui gère la finance de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Deborah Kamate</h3>
                            <h4>Financière</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Christian_Kanyangambi.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Christian Kanyangambi</h4></a>
                            <h5>Superviseur</h5>
                            <p>Monsieur Christian est le Superviseur manageur de Ishango restaurant bar.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Christian Kanyangambi</h3>
                            <h4>Superviseur</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Lydie_Kapinga3.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Lydie Kapinga</h4></a>
                            <h5>Logisticienne</h5>
                            <p>Elle est la chargée des achats et logistiques dans la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Lydie Kapinga</h3>
                            <h4>Logisticienne</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Okapi_Muhindo_Kalubese2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Okapi Muhindo</h4></a>
                            <h5>Cassier</h5>
                            <p>Monsieur Okapi Muhindo Kalubese s'occupe de la caisse dans la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Okapi Muhindo</h3>
                            <h4>Cassier</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Muhindo_Maxime2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Muhindo Maxime</h4></a>
                            <h5>Cuisinier</h5>
                            <p>Monsieur Maxime est le maitre cuisinier de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Muhindo Maxime</h3>
                            <h4>Cuisinier</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Tsongo_Germain2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Tsongo Germain</h4></a>
                            <h5>Cuisinier</h5>
                            <p>Monsieur Tsongo Germain est le maitre barbecue dans la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Tsongo Germain</h3>
                            <h4>Cuisinier</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Florant_Kaburo2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Florent Kaburo</h4></a>
                            <h5>Magasinier</h5>
                            <p>Papa Florent est le maganier et est chargé du control dans la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Florent Kaburo</h3>
                            <h4>Magasinier</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Dalmon_Kambale2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Dalmon Kambale</h4></a>
                            <h5>Cleaner</h5>
                            <p>Monsieur Dalmon est le chef de la proprété dans la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Dalmon Kambale</h3>
                            <h4>Cleaner</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Lucie_Kalunga2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Lucie Kalunga</h4></a>
                            <h5>Barmaid</h5>
                            <p>Lucie est la barmaid de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Lucie Kalunga</h3>
                            <h4>Barmaid</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Aristote_Kitambala2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Aristote Kitambala</h4></a>
                            <h5>Barman</h5>
                            <p>Monsieur Aristote est le barman de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Aristote Kitambala</h3>
                            <h4>Barman</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Mardochee_Sapidi2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Mardochee Sapidi</h4></a>
                            <h5>barman</h5>
                            <p>Monsieur Mardochee est aussi barman de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Mardochee Sapidi</h3>
                            <h4>Barman</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Samy_Kabuyaya2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Samy Kabuyaya</h4></a>
                            <h5>Barman</h5>
                            <p>Monsieur Samy Kabuyaya est aussi barman de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Samy Kabuyaya</h3>
                            <h4>Barman</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Deborah_Kyalumba2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Deborah Kyalumba</h4></a>
                            <h5>Barmaid</h5>
                            <p>Deborah Kyalumba est aussi barmaid de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Deborah Kyalumba</h3>
                            <h4>Barmaid</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Gloire_Kakule2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Gloire Kakule</h4></a>
                            <h5>Barman</h5>
                            <p>Monsieur Gloire est aussi barman de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Gloire Kakule</h3>
                            <h4>Barman</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Aline_buyiro2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Aline Mbuyiro</h4></a>
                            <h5>Barmaid</h5>
                            <p>Aline Mbuyiro est aussi barmaid de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Aline Mbuyiro</h3>
                            <h4>Barmaid</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/kavira_Mambo_Gisele2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Mambo Gisele</h4></a>
                            <h5>Barmaid</h5>
                            <p>Mambo Gisele est aussi parmi les barmaid de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Mambo Gisele</h3>
                            <h4>Barmaid</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="chef_item_inner">
                    <div class="chef_img">
                        <img src="~/lib/bootstrap/dist/img/chef/Gracia_kavira2.png" alt="">
                        <div class="chef_hover">
                            <a href="#"><h4>Gracia Kavira</h4></a>
                            <h5>Barmaid</h5>
                            <p>Gracia Kavira est aussi parmi les barmaid de la maison Ishango.</p>
                        </div>
                    </div>
                    <div class="chef_name">
                        <div class="name_chef_text">
                            <h3>Gracia Kavira</h3>
                            <h4>Barnaid</h4>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!--================End Our Chefs Area =================-->
<!--================End Our Chefs Area =================-->

<section class="next_event_area">
    <div class="container">
        <div class="s_white_red_title">
            <h3>Evenements</h3>
            <h2>Les évenements de la semaine</h2>
        </div>


        
        <div class="myslide_next">
            @foreach (var item in Model)
            {

                <div class="item">

                    <div class="col-md-6">
                        <div class="row">
                            <div class="left_event_img">
                                <img src="@item.ImageEvenement" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="right_event_text">
                                <a href="#"><h3>@item.TitreEvenement</h3></a>
                                <p>@item.DescriptionEvenement</p>
                                <div class="event_shedule">
                                    <time datetime="P65DT05H16M22S"></time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                </div>

            }
            </div>
        
    </div>

</section>
