
@{
    ViewData["Title"] = "Menu";
}
<div class="container-fluid" style="background:url(../lib/bootstrap/dist/img/banner/banner-bg-1.jpg) no-repeat scroll center center;
                                        background-size:cover;">
    <section class="banner_area">
        <div class="container">
            <div class="banner_content">
                <h4>A propos de Ishango</h4>
                <a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                <a class="active" asp-area="" asp-controller="Home" asp-action="about">A propos de nous</a>
            </div>
        </div>
    </section>
</div>

<!--================End Our feature Area =================-->
<section class="most_popular_item_area menu_list_page">
    <div class="container">
        <div class="popular_filter">
            <ul>
                <li class="active" data-filter="*"><a href="">Tout</a></li>
                <li data-filter=".entree_froide"><a href="">Entrées froides</a></li>
                <li data-filter=".assiettes"><a href="">Assiettes</a></li>
                <li data-filter=".viandes"><a href="">Viandes/Meat</a></li>
                <li data-filter=".poulet"><a href="">Poulet/Chicken</a></li>
                <li data-filter=".poisson"><a href="">Poisson/Fish</a></li>
                <li data-filter=".pizzas"><a href="">Pizzas</a></li>
                <li data-filter=".omelettes"><a href="">Omelettes</a></li>
                <li data-filter=".pate_maison"><a href="">Pates maison</a></li>
                <li data-filter=".Burgers_sandwiches"><a href="">Burgers et sandwiches</a></li>
                <li data-filter=".autres"><a href="">Autres</a></li>
            </ul>
        </div>
        <div class="p_recype_item_main">
            <div class="row p_recype_item_active">

                <!-- Debut entree froide menu -->
                <div class="col-md-4 col-sm-6 entree_froide">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_simple_salade.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Salade simple</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$1.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 entree_froide">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_salade_grecque.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Salade grecque</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$3.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 entree_froide">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_salde_mixte.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Salade mixte</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$2</div>
                        </div>
                    </div>
                </div>
                <!--Fin entree froide menu  -->
                <!-- Debut assiette menu -->

                <div class="col-md-4 col-sm-6 assiettes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_assiette_beauT.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Assiètte beau temps</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$11.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 assiettes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_assiette_mixte.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Assiètte mixte</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$6.50</div>
                        </div>
                    </div>
                </div>

                <!-- Fin assiette menu -->
                <!-- Debut viande menu -->
                <div class="col-md-4 col-sm-6 viandes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_viande_steak.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Steak</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$7.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 viandes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_viande_brochette2.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Brochette de chèvre</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.80</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 viandes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu_viande_cotePorc2.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Cotes de porc</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$6.50</div>
                        </div>
                    </div>
                </div>

                <!-- Fin viande menu -->
                <!-- Debut poulet menu -->
                <div class="col-md-4 col-sm-6 poulet">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-pouletentier.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Poulet entier</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$20.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 poulet">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-demipoulet.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Demi poulet</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$12.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 poulet">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-quartpoulet.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Quart de poulet</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$6.50</div>
                        </div>
                    </div>
                </div>

                <!-- Fin poulet menu -->
                <!-- Debut poisson -->
                <div class="col-md-4 col-sm-6 poisson">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-poissoncaptain.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Poisson captain</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$7.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 poisson">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-poissongeant.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Poisson geant</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$10</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 poisson">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-poissonmoyen.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Poisson moyen</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$7.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 poisson">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-poissonsale.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Poisson sale</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$6.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 poisson">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-poissonsambaza.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Sambaza fretins Lac Kivu</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$5.00</div>
                        </div>
                    </div>
                </div>

                <!-- Fin poisson menu -->
                <!-- Debut pizza menu -->

                <div class="col-md-4 col-sm-6 pizzas">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-pizza-vegetarien.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Pizza vegetarien</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$5.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pizzas">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-pizza-special.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Pizza special</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$10.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pizzas">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-pizza-poulet.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Pizza au poulet</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$10.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pizzas">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-pizza-viande.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Pizza a la viande</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$10.00</div>
                        </div>
                    </div>
                </div>

                <!-- Fin pizza menu -->
                <!-- Debut omelette -->

                <div class="col-md-4 col-sm-6 omelettes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-omelette-simple.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Omelette simple</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.61</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 omelettes">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-omelette-banana.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>+bananes grillees</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$1.20</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6 omelettes">
                        <div class="feature_item">
                            <div class="feature_item_inner">
                                <img src="img/menu-grid/menu-omelette-simple.png" alt="">
                                <div class="icon_hover">
                                    <i class="fa fa-search"></i>
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="title_text">
                                <div class="feature_left"><a href="#"><span>Omelette speciale</span></a></div>
                                <div class="restaurant_feature_dots"></div>
                                <div class="feature_right">$20</div>
                            </div>
                        </div>
                </div> -->
                <!-- <div class="col-md-4 col-sm-6 Omelettes">
                        <div class="feature_item">
                            <div class="feature_item_inner">
                                <img src="img/menu-grid/menu-omelette-simple.png" alt="">
                                <div class="icon_hover">
                                    <i class="fa fa-search"></i>
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="title_text">
                                <div class="feature_left"><a href="#"><span>Roll eggs</span></a></div>
                                <div class="restaurant_feature_dots"></div>
                                <div class="feature_right">$20</div>
                            </div>
                        </div>
                </div> -->
                <!-- Fin Omelette menu -->
                <!-- Debut pates maison menu -->

                <div class="col-md-4 col-sm-6 pate_maison">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-shawarma-simple.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Shawarma simple</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$3.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pate_maison">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-shawarma-poulet.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Shawarma au poulet</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$5.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pate_maison">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-shawarma-viande.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Shawarma a la viande</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$5.50</div>
                        </div>
                    </div>
                </div>

                <!-- Fin pates maison menu -->
                <!-- Debut Burgers and sandwiches -->


                <div class="col-md-4 col-sm-6 Burgers_sandwiches">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-hamburger-frittes.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Hamburger aux frittes</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$6.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 Burgers_sandwiches">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-hamburger-jambo.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Sandwich au jambo</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$2.50</div>
                        </div>
                    </div>
                </div>

                <!-- Fin Burgers and sandwiches menu-->
                <!-- Debut autres menu -->

                <div class="col-md-4 col-sm-6 autres">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-autre-bananachips.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Banana chips</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 autres">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-autre-fromage.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Portion du fromage</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$2.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 autres">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-autre-boulette.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Boulette de boeuf</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 autres">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-autre-samboussa.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Samboussa</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 autres">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/menu-autre-cafe.png" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Cafe</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 autres">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="~/lib/bootstrap/dist/img/menu-grid/Menu_Grid-8.jpg" alt="">
                            <!-- <div class="icon_hover">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-shopping-cart"></i>
                            </div> -->
                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>Cafe</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">$0.50</div>
                        </div>
                    </div>
                </div>

                <!-- Fin autres menu-->
                <!-- Debut biltong menu -->


            </div>
        </div>
    </div>
</section>
<!--================End Our feature Area =================-->
