@model IEnumerable<ClassLibraryIshangoBar.Menus.MenuModel>

 
@{
    ViewData["Title"] = "Menu";
}
<div class="container-fluid" style="background:url(../lib/bootstrap/dist/img/banner/banner-bg-1.jpg) no-repeat scroll center center;
                                        background-size:cover;">
    <section class="banner_area">
        <div class="container">
            <div class="banner_content">
                <h4>A propos de Ishango</h4>
                <a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                <a class="active" asp-area="" asp-controller="Home" asp-action="about">A propos de nous</a>
            </div>
        </div>
    </section>
</div>

<!--================End Our feature Area =================-->
<section class="most_popular_item_area menu_list_page">
    <div class="container">
        <div class="popular_filter">
            <ul>
                <li class="active" data-filter="*"><a href="">Tout</a></li>
                <li data-filter=".entree_froide"><a href="">Entrées froides</a></li>
                <li data-filter=".assiettes"><a href="">Assiettes</a></li>
                <li data-filter=".viandes"><a href="">Viandes/Meat</a></li>
                <li data-filter=".poulet"><a href="">Poulet/Chicken</a></li>
                <li data-filter=".poisson"><a href="">Poisson/Fish</a></li>
                <li data-filter=".pizzas"><a href="">Pizzas</a></li>
                <li data-filter=".omelettes"><a href="">Omelettes</a></li>
                <li data-filter=".pate_maison"><a href="">Pates maison</a></li>
                <li data-filter=".Burgers_sandwiches"><a href="">Burgers et sandwiches</a></li>
                <li data-filter=".autres"><a href="">Autres</a></li>
            </ul>
        </div>
        <div class="p_recype_item_main">
            <div class="row p_recype_item_active">

                @foreach (var item in Model)
                { 
                <div class="col-md-4 col-sm-6 entree_froide">
                    <div class="feature_item">
                        <div class="feature_item_inner">
                            <img src="@item.ImageMenu" alt="">

                        </div>
                        <div class="title_text">
                            <div class="feature_left"><a href="#"><span>@item.DescriptionMenu</span></a></div>
                            <div class="restaurant_feature_dots"></div>
                            <div class="feature_right">@item.PrixMenu</div>
                        </div>
                    </div>
                </div>
                }

            </div>
         </div>
</section>
<!--================End Our feature Area =================-->
